body{
    background-color: #ebf9d7;
}

header{
    text-align: center;
}
#hero{
    text-align: center;
}

#hero p{
    display: inline;
    text-align: center;
}

h1{
    font-size: 60px;
    color: #005b6d;
}

p{
    color: #005b6d;
    font-size: 30px;
}

#points{
    font-weight: 700;
    font-size: 40px;
    color: #ff7500;
}

#insects img{
    width: 100px;
}

#insects{
    position: relative;
    display: flex;
   
    height: 3%;
}

.fluer{
    position: absolute;
}
.sommerfugle{
    position: absolute;
}

#pos1{
left: 50px;
top: 150px;
}

#pos2{
    left: 800px;
    top: 300px;
    }

#pos3{
    left: 400px;
    top: 300px;
    }

#pos4{
    left: 200px;
    top: 500px;
    }

#pos5{
    left: 1400px;
    top: 600px;
    }

#pos6{
    left: 1200px;
    top: 400px;
    }



    /* Animationer */

/* .flyver{
animation-name: flyver_kf;
animation-duration: 4s;
animation-timing-function: linear;
animation-fill-mode: both;
animation-iteration-count: infinite;
animation-direction: alternate;
}
@keyframes flyver_kf{
    0%{
        transform: translate(-50%);
    }
    100%{tranform: translate(100%);
    }
} */
